.button {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #263e36;
  border: 1px solid #263e36;
  transition: 0.1s;
  &:hover {
    transition: 0.1s;
    border: 1px solid #538776;
    background-color: inherit;
  }
}
