.main-block {
  position: absolute;
  left: 0;
  right: 0;
  background-color: $rosewood;
  height: 500px;
  &__container {
    display: flex;
  }

  &__card {
    z-index: 2;
    font-family: 'Montserrat';
    max-width: 380px;
    margin: 100px 0 0 200px;
    display: flex;
    flex-direction: column;
    & .card__logo {
      display: none;
      opacity: 0.3;
    }
  }
  &__image {
    z-index: 1;
    position: absolute;
    top: -10px;
    left: 50%;
  }
}
.card {
  &__logo {
    margin: 0 0 60px 0;
  }
  &__title {
    margin: 0 0 30px 0;
  }
  &__subtitle {
    margin: 0 0 40px 0;
  }
  &__buttons {
    display: flex;
  }
  &__button {
    color: inherit;
    text-decoration: none;
    margin: 0 20px 0 0;
    padding: 10px 20px;
    background-color: $green;
    border: 1px solid $green;
    transition: 0.1s;
  }
  &__button:hover {
    transition: 0.1s;
    border: 1px solid $light-green;
    background-color: inherit;
  }
}

@media (max-width: 1700px) {
  .main-block {
    height: 500px;

    &__card {
      width: 380px;
      margin: 100px 0 0 100px;
    }

    &__image {
      position: absolute;
      top: -10px;
      left: 40%;
    }
    .card__logo {
      opacity: 1;
    }
  }
}
@media (max-width: 1100px) {
  .main-block {
    .card__logo {
      display: block;
      margin: 0 0 30px 0;
      opacity: 0.8;
    }
    .card {
      margin: 50px 0 0 50px;
    }
  }
}
@media (max-width: 950px) {
  .main-block {
    background-color: inherit;
    &__image {
      position: absolute;
      top: -10px;
      left: -20px;
      right: 0;
      opacity: 0.4;
    }
  }
}
@media (max-width: 767px) {
  .main-block {
    background-color: $background;
    .card {
      padding: 20px;
      max-width: 300px;
      margin: 100px auto 0 auto;
    }
    .card__logo {
      display: none;
    }
  }
}
@media (max-width: 600px) {
  .main-block {
    height: 400px;
    background: url('../../../span/img/hall1x300.png') 0 0 / auto 100% no-repeat;
    .img {
      display: none;
    }
    background-color: $rosewood;
  }
}
