.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}
/* Слайд */
.slick-slide {
  text-align: center;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  width: 30px;
  height: 30px;
  margin: -30px 10px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0;
  border: solid rgb(122, 122, 122);
  border-width: 0 3px 3px 0;
  padding: 3px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  transform: rotate(180deg);
  -webkit-transform: rotate(135deg);
  left: 0;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 0;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}
